# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Vector Database
data/vector_db/

# Scripts Testing
scripts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db