# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Evaluation
eval_dataset/
__init__.py

# Python Cache
__pycache__/
*.pyc

# Scripts Testing
scripts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db